#boton_carrito {
    position: relative;
}

#cantidad_carrito {
    position: absolute;
    top: -20%;
    right: -20%;
    background: red;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
    font-size: 10pt;
}