#boton_carrito {
    position: relative;
}

#cantidad_carrito {
    position: relative;
    top: -35px;
    right: -20px;
    background: red;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
    font-size: 8pt;
}