#cantidad_carrito {
    position: absolute;
    top: -10%;
    right: -50%;
    background: red;
    width: 16px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
    font-size: 8pt;
}